@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-primary text-slate-200 font-sans antialiased;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold text-white;
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-primary;
}

::-webkit-scrollbar-thumb {
    @apply bg-secondary rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-accent;
}